.side-menu {
    height: 100%;
    width: 100vw;
    font-family: 'Golos Text', sans-serif;
    /*display: grid;*/
    /*grid-template-rows: repeat(3, auto);*/
    /*grid-template-columns: repeat(1, 1fr);*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*justify-content: center;*/
    align-content: start;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.side-menu__header {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding: 10px 10px 30px 10px;
    z-index: 4;
}

.header-button {
    display: inline-block;
    line-height: 0;
}

.switch-language {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 2vw;
    justify-content: start;
    align-items: center;
    font-size: 22px;
}

.switch-language__arrow {
    border-top: 1px solid #849BAF;
    border-right: 1px solid #849BAF;
    width: 2vw;
    height: 2vw;
    transform: rotate(135deg);
    justify-self: start;
}

.side-menu__close-button {
    background-color: transparent;
    border: none;
    grid-area: close;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.side-menu__body {
    padding: 30px 50px 30px 10px;
    position: relative;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

.side-menu__main-menu {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.side-menu__footer {
    display: grid;
    align-content: end;
    padding: 30px;
    font-weight: bold;
    font-size: 22px;
    color: #151617;
}

.side-menu__title-arrow {
    transform: rotate(-135deg);
}

.side-menu__item-arrow {
    transform: rotate(-135deg);
}

.side-menu__section {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 8vw;
}

.side-menu__link {
    font-weight: bold;
    font-size: 22px;
}

.side-menu__subitem_separator {
    width: 100vw;
    height: 2px;
    margin: 0 -8vw;
    background: #C6D6E5;
    display: grid;
    z-index: 4;
}

.side-menu__items {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-auto-flow: row;
    grid-row-gap: 5vw;
    align-content: center;
    width: 100%;
}

.side-menu__section-item {
    margin-left: 5vw;
    font-weight: 400;
}

.side-menu__subitems {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 9vw;
    /*padding: 0 2px;*/
    /*width: 94vw;*/
}

.side-menu__footer-items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5vw;
}

.side-menu__footer-link {
    font-weight: bold;
    font-size: 22px;
    color: #151617;
}

.side-menu__subitems-block {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 8vw;
    padding: 0 3vw 0 3vw;
    /*overflow-y: hidden;*/
}

.inner-block::-webkit-scrollbar {
    width: 2px;
    height: auto;
    background: #000;
}

.inner-block::-webkit-scrollbar-thumb {
    width: 2px;
    height: 26vh;
    background: #C6D6E5 !important;
    border-radius: 2px !important;
}

.inner-block {
    overflow-y: auto;
    padding-bottom: 5vw;
}
