a {
    text-decoration: none;
}

.side-menu__item {
    align-items: center;
    height: 5vh;
    color: #151617;
    grid-column-gap: 10px;
    cursor: pointer;

    .side-menu__item-name {
        grid-area: name;
    }

    .side-menu__item-name.title {
        font-size: 22px;
    }

    .arrow {
        border-top: 1px solid #1D7DED;
        border-right: 1px solid #1D7DED;
        width: 12px;
        height: 12px;
        grid-area: arrow;
    }

    .side-menu__link-title-arrow {
        transform: rotate(-135deg);
    }

    .side-menu__link-arrow {
        transform: rotate(45deg);
    }
}

.side-menu__item:hover {
    color: #1D7DED;

    .arrow {
        border-top: 2px solid #1D7DED;
        border-right: 2px solid #1D7DED;
        width: 14px;
        height: 14px;
    }
}

.side-menu__section-link {
    display: grid;
    grid-template-areas: "name arrow";
    justify-content: space-between;
    padding: 0 10px;
    font-size: 22px;
}

.side-menu__section-link-title {
    display: grid;
    grid-template-areas: "arrow name";
    justify-content: start;
    padding: 0 18px;
    font-size: 22px;
}

@media (min-width: 768px) {
    .side-menu__section-link {
        font-size: 24px;
    }

    .side-menu__section-link-title {
        font-size: 36px;
    }

    .side-menu__item {
        .side-menu__item-name.title {
            font-size: 36px;
        }
    }

}

