.switcher {
    border-radius: 2px;
    appearance: none;
}

.switch-language {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 2vw;
    justify-content: start;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding: 2vw;
    cursor: pointer;

    .switch-language__arrow {
        border-top: 1px solid #849BAF;
        border-right: 1px solid #849BAF;
        width: 12px;
        height: 12px;
        transform: rotate(135deg);
        justify-self: start;
    }

    .switch-language__current-icon {
        width: 24px;
        height: 24px;
    }
}

.switch-language:hover {
    outline: 2px solid rgba(131, 188, 255, 0.5);

    .switch-language__arrow {
        width: 14px;
        height: 14px;
    }
}

.switch-language_active {
    background: rgba(29, 125, 237, 0.1);
    outline: 2px solid rgba(131, 188, 255, 0.5);
    box-sizing: border-box;
}

.switch-language__menu {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 5;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    align-items: center;
    width: 50vw;
    padding: 6px 0;
    box-shadow: 0px 6px 10px rgba(116, 137, 155, 0.06), 0px 1px 18px rgba(116, 137, 155, 0.04), 0px 3px 5px rgba(116, 137, 155, 0.08);

    .switch-language__option {
        padding: 10px 10px 10px 15px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .switch-language__option-items {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 3vw;
            align-items: center;
            justify-content: start;
            font-size: 14px;

            .switch-language__option-icon {
                width: 16px;
                height: 16px;
            }
        }
    }

    .switch-language__option:hover {
        background: #F1F8FE;
    }

    .switch-language__option_active {
        background: #F1F8FE;

        .switch-language__check {
            width: 12px;
            height: 8px;
        }
    }

    .switch-language__title {
        font-size: 14px;
        font-weight: bolder;
        padding: 10px 10px 10px 15px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: space-between;    }
}
