.side-menu__item {
    align-items: center;
    height: 5vh;
    color: #151617;
    font-family: 'Golos Text', sans-serif;
    grid-column-gap: 3vw;
}

a {
    text-decoration: none;
}

.side-menu__section-link {
    display: grid;
    grid-template-areas: "name arrow";
    justify-content: space-between;
}

.side-menu__section-link-title {
    display: grid;
    grid-template-areas: "arrow name";
    justify-content: start;
}

.side-menu__item-name {
    grid-area: name;
}

.arrow {
    border-top: 1px solid #1D7DED;
    border-right: 1px solid #1D7DED;
    width: 2vw;
    height: 2vw;
    grid-area: arrow;
}

.side-menu__link-title-arrow {
    transform: rotate(-135deg);
}

.side-menu__link-arrow {
    transform: rotate(45deg);
}
